<footer class="footer ">
  <div class="container-fluid">
      <p class="text-muted">
          <i class="fa fa-copyright" aria-hidden="true"></i> {{ year }} Henrik.Binggl
          <span class="hidden-xs">| <strong>login application</strong> | <span class="fa fa-code-fork"></span>&nbsp;<small><span style="color:indigo">{{ appData?.version }}</span>, api: <span style="color:darkred">{{ appData?.runtime }}</span>, ui: <span style="color:darkviolet">{{ appData?.uiRuntime }}</span></small>
          | <span class="fa fa-code"></span>&nbsp;<small><a href="/swagger/index.html">API documentation</a></small>
          </span>
          <span class="pull-right visiable-xs hidden-sm hidden-md hidden-lg"><strong><i class="fa fa-hashtag" aria-hidden="true"></i>
<a href="https://login.binggl.net">{{ displayName }}</a></strong></span>
      </p>

      </div>
</footer>
